<!DOCTYPE html>
<html>
<head>
    <title>Tina's CS IA</title>
</head>
<body>
   <h1>Welcome to Tina's CS IA</h1>
<p>This is the first web page of the cafe music system.</p>

<form action="/submit" method="POST">
    <label for="drink">Drink:</label>
    <select id="drink" name="drink">
        <option value="latte">Latte</option>
        <option value="americano">Americano</option>
        <option value="cold_brew">Cold Brew</option>
    </select>

    <br><br>

    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" name="nickname">

    <br><br>

    <button type="submit">Submit Order</button>
</form>
</body>
</html>